name: "Quarkus Ecosystem CI Member Manual Trigger"

# Adding the dispatch event to allow restarting the build on demand
on:
  workflow_dispatch:
    inputs:
      member:
        type: string
        required: true

jobs:
  invoke-ci:
    runs-on: ubuntu-latest
    name: "Invoke CI"
    steps:
      - name: Install yq
        uses: dcarbone/install-yq-action@v1.0.1

      - name: Checkout Ecosystem
        uses: actions/checkout@v3
        with:
          repository: ${{ env.GITHUB_REPOSITORY }}
          path: ecosystem-ci
          token: ${{ secrets.ECOSYSTEM_CI_TOKEN }}
          ref: main

      - name: Launch CI for member ${{ inputs.member }}
        working-directory: ecosystem-ci
        run: |
          #get the sha or the latest main
          QUARKUS_SHA=$(git ls-remote https://github.com/quarkusio/quarkus main | awk '{print $1;}')

          ./run-for-member "${MEMBER}" "${QUARKUS_SHA}" "${ECOSYSTEM_CI_TOKEN}"
        env:
          MEMBER: ${{ inputs.member }}
          ECOSYSTEM_CI_TOKEN: ${{ secrets.ECOSYSTEM_CI_TOKEN }}
